html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    background-color: #83cead; 
    height: 25%;
	.search {
		width: 70%;
		margin: 0;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	margin-right: -50%;
    	transform: translate(-50%, -50%);
	}
	input {
		width: 75%;
		line-height: 28px;
		font-size: 16px;
		padding: 10px;
		margin: 4px 2px;
		border: none;
		border-radius: 6px;
	}
	button {
		width: 17%;
		font-size: 18px;
		background-color: #ffcc00;
		border: none;
		border-radius: 8px;
		outline: none;
		box-shadow: 0 6px #e6b800;
		color: white;
		padding: 12px 0;
		margin: 4px 2px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
	}
	button:active {
		box-shadow: 0 3px #cca300;
		transform: translateY(3px);
}
}
section {
    background-color: beige;
    height: 75%;
}
.container {
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: auto;
	position: relative;
}
#map {
    height: 100%;
}