html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    background-color: grey;
    height: 25%;
}
section {
    background-color: beige;
    height: 75%;
}
.container {
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
}
#map {
    height: 100%;
}